/* Layout Repository */
.repository-page { padding: 40px 20px; }

.repo-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 24px;
}

.filter-group-inline { display: flex; gap: 10px; }

.filter-group-inline select {
    padding: 10px;
    border: 1px solid #E0E7EE; 
    border-radius: 6px;
    background-color: white;
    color: #334155;
    outline: none;
    cursor: pointer;
 }

.search-bar-inline input { 
    padding: 10px; 
    width: 300px; 
    border: 1px solid #E0E7EE; 
    border-radius: 6px; 
    outline: none;
}

/* Tabel Styling */
.repo-table {
    width: 100%;
    border-collapse: collapse;
    background: var(--white);
    border: 1px solid #E0E7EE;
    border-radius: 8px;
    overflow: hidden;
}

.repo-table th, .repo-table td {
    padding: 18px 16px;
    text-align: left;
    border-bottom: 1px solid #E0E7EE;
    font-size: 14px;
    vertical-align: middle;
}

.repo-table th { 
    background-color: #F8FAFC; 
    color: var(--text-muted);
    font-weight: 600;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.pagination button, .pagination .dots {
    padding: 8px 14px;
    border: 1px solid #E0E7EE;
    background: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
    color: #334155;
}

.pagination button.active {
    background: var(--primary-blue);
    color: white;
    border-color: var(--primary-blue);
}